# IntellijIdea files
*.iml
.idea
out
*.ipynb
!main.ipynb

#custom
.old/*
__pycache__/*
.ipynb_checkpoints/*

/cfg/*

!/cfg/macerr
/cfg/macerr/*
!/cfg/macerr/.gitkeep

!/cfg/maclist
/cfg/maclist/*
!/cfg/maclist/.gitkeep

!/cfg/base
/cfg/base/*
!/cfg/base/.gitkeep



results/*
!results/.gitkeep

xlsx/*

!xlsx/mactable
xlsx/mactable/*
!xlsx/mactable/.gitkeep

!xlsx/mactable/strangeports
xlsx/mactable/strangeports/*
!xlsx/mactable/strangeports/.gitkeep

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml